html, body {
overflow-x: hidden;
max-width: 100%;
}
html{
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0; 
	background-color: white;
}

body { 
	margin: 0 auto;
	width : 410px;
	background-color: #83c8f2;
}
a {
	background-color: #83c8f2;
	height: 1px;
}
#banner {
	font-family: 'Jua', sans-serif;
	color: white;
	text-align: center;
	width: 390px;
	margin: 0px auto;
	padding: 100px 10px 10px 10px;
	background-color: #83c8f2;
	border : none;
	padding-bottom: 10px;
}

#question {
	font-family: 'Jua', sans-serif;
	font-size: 35px;
	text-align: center;
	width: 320px;
	height: 250px;
	margin: 5px auto;
	padding: 25px;
	/*background-color: #eeccff;*/
	background-color: #83c8f2;
	border : none;
}
.post{
	background-color: #83c8f2;
	margin: 0px auto;
	text-align: center;
}
.post-wrapper{
	background-color: #83c8f2;
	width: 50%;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
	margin: 0px auto;	
	padding: 0px 5px;
}
#post1{
	padding: 0px 15px 0px 15px;
	background-color: #83c8f2;
	font-size: 90px;
	height: 100px;
	margin: 0px auto;
}
#post2{
	padding: 0px 15px;
	background-color: #83c8f2;
	font-size: 70px;	
	color: #528ce2; 
	height: 80px;
	margin: 0px auto;
}
#post3{
	padding: 0px 15px;
	background-color: #83c8f2;
	font-size: 40px;	
	color: white; 
	height: 40px;
	margin: 0px auto;
}
#post4{
	background-color: #83c8f2;
	font-size: 25px;	
	color: white; 
	margin: 0px auto;
}
#answer {
	padding: 50px 25px 80px 25px;
	margin: 0px 5px;
	text-align: center;
	background-color: #83c8f2;
}
#answer button { 
	width: 350px;
	height: 100px;
	font-size: 45px; 
	border : none;
	border-radius: 2em;
	background-color: #528ce2; 
	color: white; 
	margin-bottom: 10px; 
	padding: 15px; 
	font-family: 'Jua', sans-serif;
}

#answer button:hover { 
	color: #528ce2; 
	background-color: white; 
	font-family: 'Jua', sans-serif;
}
#answer #btn1 { 
	background-color:#83c8f2;
}

footer { 
	font-size: 20px;
	text-align: center; 
	font-family: 'Jua', sans-serif;
	background-color: white;
	padding: 5px;
}